<div class="flex justify-content-center align-items-center min-h-screen min-w-screen overflow-hidden">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-3">
      <div class="text-center mb-5">
        <div class="mb-2">
          <i class="pi pi-user-plus" style="font-size: 3rem"></i>
        </div>
        <div class="text-900 text-3xl font-medium mb-3">Create an Account</div>
        <span class="text-600 font-medium line-height-3">Already have an account?</span>
        <p-button label="Sign in now!" [link]="true" (click)="router.navigate(['/signin'])"></p-button>
      </div>
  
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="mb-3">
            <input id="username" type="text" pInputText placeholder="Username" class="w-full" formControlName="username">
            <small *ngIf="signupForm?.get('username')?.invalid && signupForm?.get('username')?.touched" class="text-red-500">
              Username is required and must be at least 3 characters.
            </small>
          </div>

          <div class="mb-3">
            <input id="email" type="email" pInputText placeholder="Email address" class="w-full" formControlName="email">
            <small *ngIf="signupForm?.get('email')?.invalid && signupForm?.get('email')?.touched" class="text-red-500">
              Please enter a valid email address.
            </small>
          </div>
  
          <div class="mb-3">
            <input id="password" type="password" pInputText placeholder="Password" class="w-full" formControlName="password">
            <small *ngIf="signupForm?.get('password')?.invalid && signupForm?.get('password')?.touched" class="text-red-500">
              Password is required and must be at least 6 characters.
            </small>
          </div>
  
          <div class="mb-3">
            <input id="confirmPassword" type="password" pInputText placeholder="Confirm Password" (change)="checkPasswords()" class="w-full" formControlName="confirmPassword">
            <small *ngIf="signupForm?.get('confirmPassword')?.invalid && signupForm?.get('confirmPassword')?.touched" class="text-red-500">
              Please confirm your password.
            </small>
          </div>
  
          <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
              <p-checkbox id="terms" [binary]="true" styleClass="mr-2" formControlName="terms"></p-checkbox>
              <label for="terms" class="text-900">I agree to the Terms & Conditions</label>
            </div>
            <small *ngIf="signupForm?.get('terms')?.invalid && signupForm?.get('terms')?.touched" class="p-error">
              You must accept the terms.
            </small>
          </div>
  
          <button pButton pRipple label="Sign Up" icon="pi pi-user-plus" class="w-full" type="submit" [disabled]="signupForm.invalid"></button>
        </div>
      </form>
    </div>
  </div>
  